<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
    <div fxFlex *ngIf="dish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
          <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{baseURL + dish.image}}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div [hidden]="dish || errorMessage">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
    <div fxFlex *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
    </div>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
      <mat-card-header>
        <mat-card-title>
          <h3>Comments</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngFor="let commentary of dish.comments">
        <mat-list>
          {{commentary.comment}}
          <div>{{commentary.rating}} Stars</div>
          <div>-- {{commentary.author}} {{commentary.date | date:"fullDate"}}</div>
        </mat-list>
      </mat-card-content>
  </div>
</div>
<form novalidate [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div [style.margin-left.rem]="2">
    <mat-form-field class="half-width">
      <input matInput formControlName="author" placeholder="author" type="text" autocomplete="no" required>
      <mat-error *ngIf="errorMessage['author']">{{errorMessage['author']}}</mat-error>
    </mat-form-field>
  </div>
  <mat-slider thumbLabel formControlName="rating" placeholder="rating" min="1" max="5" [style.margin-left.rem]="2"></mat-slider>
  <mat-error *ngIf="errorMessage['rating']">{{errorMessage['rating']}}</mat-error>
  <div [style.margin-left.rem]="2">
    <mat-form-field class="half-width">
      <input matInput formControlName="comment" placeholder="comment" type="text" autocomplete="no" required>
      <mat-error *ngIf="errorMessage['comment']">{{errorMessage['comment']}}</mat-error>
    </mat-form-field>
  </div>
  <button type="submit" mat-button class="background-primary text-floral-white" [style.margin-left.rem]="2">Submit</button>
  
</form>

